APP_NAME=SSHWeb
APP_PORT=18080
NODE_ENV=production

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=sshweb
MYSQL_USER=sshweb
MYSQL_PASSWORD=sshweb123456

JWT_SECRET=change_me_to_random_string
JWT_EXPIRES_IN=7d

ENCRYPTION_KEY=change_me_to_32_byte_key

SSH_CONNECT_TIMEOUT=10000
SSH_EXEC_TIMEOUT=60000
ENABLE_DANGEROUS_COMMAND_BLOCK=true
# Telegram通知
TG_ENABLED=false
TG_BOT_TOKEN=
TG_CHAT_ID=
ALERT_CPU_THRESHOLD=90
ALERT_SERVER_EXPIRY_DAYS=7
ALERT_REPEAT_HOURS=12
